-0,0 +1,19 @@
---
import { loadFormServiceConfig } from '@wix/headless-forms/services';
import BaseLayout from '../layouts/BaseLayout.astro';

const { slug } = Astro.params;

---

<BaseLayout>
  <title>Form</title>
  <meta name="description" content="Form" />

  <div>This is form {slug}</div>
</BaseLayout>
