---
// global.css removed (deprecated wix-vibe plugins theme)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <slot name="seo-tags" />
    <slot />
  </head>
  <body>
    <slot name="body" />
  </body>
</html>

