---
import { loadEventServiceConfig } from '@wix/headless-events/services';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import FormPage from '../../../react-pages/form';

const { slug } = Astro.params;

// Load initial data server-side
const eventServiceConfigResult = await loadEventServiceConfig(slug);

if (eventServiceConfigResult.type === 'notFound') {
  return Astro.redirect('/404');
}
---

<BaseLayout>
  <title>RSVP Form</title>
  <meta name="description" content="RSVP Form" />

  <FormPage
    client:load
    slot="body"
    eventServiceConfig={eventServiceConfigResult.config}
    formServiceConfig={{
      postFlowUrl: Astro.url.pathname.replace('form', 'thank-you')
    }}
  />
</BaseLayout>
