---
import {
  loadEventServiceConfig,
  loadEventListServiceConfig,
  loadTicketDefinitionListServiceConfig,
  loadScheduleListServiceConfig,
} from '@wix/events/services';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import EventDetailsPage from '../../../react-pages/event-details';

const { slug } = Astro.params;

if (!slug || slug.includes('site-bi-navigation')) {
  return Astro.redirect('/');
}

// Load initial data server-side
const [eventServiceConfigResult, eventListServiceConfig] = await Promise.all([
  loadEventServiceConfig(slug),
  loadEventListServiceConfig(),
]);

if (eventServiceConfigResult.type === 'notFound') {
  return Astro.redirect('/404');
}

const [ticketDefinitionListServiceConfig, scheduleListServiceConfig] =
  await Promise.all([
    loadTicketDefinitionListServiceConfig(
      eventServiceConfigResult.config.event._id
    ),
    loadScheduleListServiceConfig(eventServiceConfigResult.config.event._id, 2),
  ]);
---

<BaseLayout>
  <title>Event Details</title>
  <meta name="description" content="Event Details" />

  <EventDetailsPage
    client:load
    slot="body"
    eventServiceConfig={eventServiceConfigResult.config}
    eventListServiceConfig={eventListServiceConfig}
    ticketDefinitionListServiceConfig={ticketDefinitionListServiceConfig}
    checkoutServiceConfig={{
      noTicketDefinitionsSelectedError: 'Select a ticket',
    }}
    scheduleListServiceConfig={scheduleListServiceConfig}
    eventDetailsPagePath="/events/:slug"
    formPagePath="/events/:slug/form"
  />
</BaseLayout>
