---
import {
  loadEventServiceConfig,
  loadEventListServiceConfig,
  loadTicketDefinitionListServiceConfig,
} from '@wix/headless-events/services';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import EventDetailsPage from '../../../react-pages/event-details';

const { slug } = Astro.params;

if (!slug || slug.includes('site-bi-navigation')) {
  return Astro.redirect('/');
}

// Load initial data server-side
const [eventServiceConfig, eventListServiceConfig] = await Promise.all([
  loadEventServiceConfig(slug),
  loadEventListServiceConfig(),
]);
const ticketDefinitionListServiceConfig = await loadTicketDefinitionListServiceConfig(
  eventServiceConfig.event._id
);
---

<BaseLayout>
  <title>Event Details</title>
  <meta name="description" content="Event Details" />

  <EventDetailsPage
    client:load
    slot="body"
    eventServiceConfig={eventServiceConfig}
    eventListServiceConfig={eventListServiceConfig}
    ticketDefinitionListServiceConfig={ticketDefinitionListServiceConfig}
  />
</BaseLayout>
