---
import {
  loadEventServiceConfig,
  loadScheduleListServiceConfig,
} from '@wix/events/services';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { Schedule } from '../../../components/events/Schedule';

const { slug } = Astro.params;

// Load initial data server-side
const eventServiceConfigResult = await loadEventServiceConfig(slug);

if (eventServiceConfigResult.type === 'notFound') {
  return Astro.redirect('/404');
}

const scheduleListServiceConfig = await loadScheduleListServiceConfig(
  eventServiceConfigResult.config.event._id
);
---

<BaseLayout>
  <title>Schedule</title>
  <meta name="description" content="Schedule" />

  <Schedule
    client:load
    slot="body"
    eventServiceConfig={eventServiceConfigResult.config}
    scheduleListServiceConfig={scheduleListServiceConfig}
    eventDetailsPagePath="/events/:slug"
  />
</BaseLayout>
