---
import {
  loadEventServiceConfig,
  loadOrderServiceConfig,
} from '@wix/events/services';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { ThankYou } from '../../../components/events/ThankYou';

const { slug } = Astro.params;

// Load initial data server-side
const eventServiceConfigResult = await loadEventServiceConfig(slug);

if (eventServiceConfigResult.type === 'notFound') {
  return Astro.redirect('/404');
}

const eventId = eventServiceConfigResult.config.event._id;
const orderNumber = Astro.url.searchParams.get('orderNumber');

let orderServiceConfig;
if (orderNumber) {
  orderServiceConfig = await loadOrderServiceConfig(eventId, orderNumber);
}
---

<BaseLayout>
  <title>Thank You</title>
  <meta
    name="description"
    content="Thank you for your RSVP! We have received your response for this event."
  />

  <ThankYou
    client:load
    slot="body"
    eventServiceConfig={eventServiceConfigResult.config}
    orderServiceConfig={orderServiceConfig}
    eventPageUrl={`${Astro.url.origin}/events/${slug}`}
  />
</BaseLayout>
