---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormsPage from '../../react-pages/index';

const { slug } = Astro.params;

const guidRegex =
  /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;

if (typeof slug !== 'string' || !guidRegex.test(slug)) {
  return Astro.redirect('/404');
}
---

<BaseLayout>
  <title>Form</title>
  <meta name="description" content="Form" />

  <FormsPage formServiceConfig={{ formId: slug }} client:load />
</BaseLayout>
