:root {
  --wix-theme-primary: theme(colors.primary, rgb(210, 29, 16));
  --wix-theme-secondary: theme(colors.secondary, rgb(16, 197, 210));

  --wix-theme-background: theme(colors.background, #000000);
  --wix-theme-foreground: theme(colors.foreground, #ffffff);

  --theme-text-content: rgba(255, 255, 255, 1);
  --theme-text-content-30: rgba(255, 255, 255, 0.3);
  --theme-text-content-40: rgba(255, 255, 255, 0.4);
  --theme-text-content-50: rgba(255, 255, 255, 0.5);
  --theme-text-content-60: rgba(255, 255, 255, 0.6);
  --theme-text-content-70: rgba(255, 255, 255, 0.7);
  --theme-text-content-80: rgba(255, 255, 255, 0.8);
  --theme-text-content-90: rgba(255, 255, 255, 0.9);
}
