---
import { loadEventListServiceConfig } from '@wix/events/services';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { EventList } from '../../components/events/EventList';

// Load initial event list data server-side
const eventListServiceConfig = await loadEventListServiceConfig();
---

<BaseLayout>
  <title>Events</title>
  <meta name="description" content="Events" />

  <EventList
    client:load
    slot="body"
    eventListServiceConfig={eventListServiceConfig}
    eventDetailsPagePath="/events/:slug"
  />
</BaseLayout>
