---
import LogoSquare from "../../logo-square.astro";

const menu = [
  { title: 'Items', path: '/' },
  { title: 'Create Item', path: '/create' },
];
---

<nav class="relative flex items-center justify-between p-4 lg:px-6 bg-background border-b border-foreground/10">
  <div class="flex w-full items-center">
    <div class="flex w-full items-center gap-8">
      <a
        href="/"
        class="flex items-center"
      >
        <LogoSquare />
        <div class="ml-2 font-heading text-sm font-medium uppercase text-foreground">
          CMS Collection Demo
        </div>
      </a>
      <ul class="flex gap-6 text-sm items-center">
        {menu.map((item) => (
          <li>
            <a
              href={item.path}
              data-astro-prefetch
              class="font-paragraph text-foreground/70 underline-offset-4 hover:text-foreground hover:underline"
            >
              {item.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</nav>
